html {
    font-size: 22.5px;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    color: #8F8F8F;
    background-color: #333333;
}

hr {
    height: .2rem;
    color: #FD9845;
    background: #FD9845;
    border: none;
}

section {
    display: block;
    margin: 100px;
}

#mainContent {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: 630px;
}


/* ---- page content ---- */

#cover {
    text-align: center;
}

#cover h1 {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    white-space: nowrap;
}

#date {
    margin-top: -50px;
}

#logo {
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    position: relative;
    pointer-events: none;
}

#subscribeContent {
    text-align: center;
}

.block {
    margin-bottom: 10px;
}

#sponsors h2 {
    text-align: center;
}

.img-headshot {
    height: 200px;
    width: 200px;
    pointer-events: none;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 4px #6A6A6A;
}

#allorgs {
    margin-top: 25px;
}

.medias {
    margin-top: -20px;
    margin-bottom: 50px;
}

.social {
    font-size: 2em;
    margin: 5px;
    color: #8F8F8F;
    position: relative;
    transition: all 0.2s ease-in;
}

.social:hover {
    -webkit-stroke-width: 5px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 10px white;
    color: white;
}

#directors,
#team1,
#team2 {
    text-align: center;
}

/*========================*/

/* ---- FONTS ---- */

h1 {
    font-weight: 600;
    color: #FD9845;
}

h3 {
    font-weight: 600;
}

#cover h1 {
    font-size: 4rem;
}

#faq p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

/*========================*/

/* ---- MEDIA QUERIES ---- */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 768px) {
    html {
        font-size: 19px;
    }
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }
    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }
    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 992px) {
    html {
        font-size: 25px;
    }

    #mainContent {
        width: 92.5%;
    }
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }
    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }
    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
    #cover h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
    #mainContent {
        width: 87.5%;
    }
}

/* fix headshot resizing */

@media (max-width: 1200px) {
    .img-headshot {
        height: 350px;
        width: 350px;
        margin-bottom: 17.5px;
    }
}

/* Portrait */

@media screen and (orientation:portrait) {
    #mainContent {
        top: 20vh;
    }
    #cover {
        height: 100vh;
    }
}

/* Landscape */

@media screen and (orientation:landscape) {}

/*========================*/

/* ---- NAV BAR ---- */

.navbar-brand i {
    font-family: 'PT Mono', monospace;
    color: #FD9845;
    font-size: 1.5em;
}

.bg-custom {
    background-color: #F1F1F1;
    position: absolute;
    width: 100%;
    z-index: 9998;
    opacity: .925;
}

#toTopNav {
    z-index: 9999;
    font-size: 2.75em;
    right: 2vh;
    bottom: 2vh;
    clear: none;
    text-align: inherit;
    margin-left: 0%;
    position: fixed;
    left: 0;
    margin-right: 25px;
}

#scrollToTop {
    position: relative;
    display: none;
}

.toTopLink {
    color: #8F8F8F;
    text-align: right;
    display: block;
    cursor: pointer;
    margin-top: 5px;
    -webkit-transition: color 1s cubic-bezier(0, 0.65, 0.085, 0.75) text-shadow 1s cubic-bezier(0, 0.65, 0.085, 0.75);
    transition: color 1s cubic-bezier(0, 0.65, 0.085, 0.75) text-shadow 1s cubic-bezier(0, 0.65, 0.085, 0.75);
}

.toTopLink:hover {
    color: white;
    text-shadow: 0px 0px 5px #FFFFFF;
}

#top {
    top: 0;
    position: absolute;
}

/*========================*/

/* ---- particles ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*========================*/

/* ---- subscribe form ---- */

#mc_embed_signup input.email {
    background-color: #F1F1F1;
}
